<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add New Order</h1>

    <% if (msg) { %>
        <% msg.forEach(element => { %>
         <p><%= element %></p>
        <% }) %>
    <% } %>

    <form action="/order/add/<%= userId %>/<%= itemId %>" method="post">

        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id=""><br><br>

        <label for="duration">Duration</label>
        <input type="number" name="duration" id=""><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>